<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - IMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f7f9fc; /* Daha yumuşak arka plan */
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .content-container {
            max-width: 600px;
            background-color: #ffffff; /* Konteyneri belirginleştirme */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
            margin: 40px auto; /* Ortalanmış görünüm */
        }

        footer {
            background-color: #2c3e50; /* Daha koyu ve net bir görünüm */
            color: white;
            text-align: center;
            padding: 15px 0;
            margin-top: auto;
            width: 100%;
            position: relative;
        }

            footer::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4px; /* Çizgi yüksekliği */
                background-color: #3498db; /* Çizgi rengi */
            }

        h1, h2, h3, h4, h5 {
            color: #2c3e50; /* Başlıklar için koyu mavi renk */
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="content-container">
        @RenderBody()
    </div>

    <footer>
        <div >
            &copy; @DateTime.Now.Year - IMS | All Rights Reserved.
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
